.footer {
    background-color: #202020;
    width: 100%;
    padding: 60px 0;
    .nav {
        &__menu {
            justify-content: center;

            li {
                // color: #fff;
                font-weight: 500;
                padding: 15px;
                @media (min-width: 992px){
                       color: #fff;
                }
            }
        }
    }
    .social {
        justify-content: center;
    }

    &__copy {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        @media (max-width: 480px) {
            font-size: 14px;
        }
        span {
            position: relative;
            &:first-child {
                padding-right: 10px;
                &::before {
                    content: "|";
                    width: 2px;
                    position: absolute;
                    top: 0px;
                    right: 0;
                }
            }
            &:last-child {
                padding-left: 10px;
            }
        }
    }
    // h2 {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     height: 100%;
    //     color: #fff;
    // }
    // .logo {
    //     align-items: flex-start;
    // }
    // .logo__link {
    //     color: #fff;
    //     padding-bottom: 20px;
    // }
}
