.button-order {
    position: fixed;
    z-index: 99;
    background-color: #d3d3d3;
    bottom: 15px;
    right: 20px;
    padding: 15px 20px;
    // width: 200px;
    border-radius: 9px;
    color: #222222;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    transition: all 0.5s ease;
    &:hover {
        background-color: #565656;
        color: #fff;
        transition: all 0.5s ease;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            117deg,
            rgba(63, 94, 251, 0) 19%,
            rgba(255, 255, 255, 0.9864320728291317) 46%,
            rgba(255, 255, 255, 0.8855917366946778) 48%,
            rgba(252, 70, 107, 0) 76%
        );
        animation: shine 2s infinite;
    }
    @media (max-width: 992px) {
        margin: 0 auto;
        padding: 10px 15px;
        font-size: 16px;
        bottom: 20px;
    }
}
@keyframes shine {
    0% {
        left: -100%;
    }
    100% {
        left: 200%;
    }
}
