.project {
    padding: 10px 0;
    position: relative;
    @media (max-width: 1200px) {
        margin-bottom: calc(0px + (20 - 0) * ((100vw - 320px) / (1200 - 320)));
    }
    &__content {
      
    }
    &__title {
        font-size: 75px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        @media (max-width: 1200px) {
            font-size: calc(18px + (100 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    &__text {
        width: 80%;
        padding: 30px 10px 0 6px;
        font-size: 24px;

        @media (max-width: 1200px) {
            font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__img {
        height: 200px;
        width: 200px;
    }
}
