.post {
    padding: 10px 0;
    margin-bottom: 20px;
    position: relative;
    @media (max-width: 1200px) {
        margin-bottom: calc(0px + (20 - 0) * ((100vw - 320px) / (1200 - 320)));
    }
    &__wrap {
        position: absolute;
        bottom: 15%;
        color: #fff;
        z-index: 1;
        @media (max-width: 767px) {
            bottom: 10%;
        }
    }
    &__title {
        font-size: 75px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        @media (max-width: 1200px) {
            font-size: calc(18px + (100 - 18) * ((100vw - 320px) / (1200 - 320)));
        }
    }
    &__text {
        width: 80%;
        padding: 30px 10px 0 6px;
        font-size: 24px;

        @media (max-width: 1200px) {
            font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1200 - 320)));
        }
        @media (max-width: 767px) {
            display: none;
        }
    }

    &__img {
        height: 800px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: linear-gradient(1.62deg, #222222 -45.7%, rgba(217, 217, 217, 0) 90.56%);
            z-index: 1;
        }
        @media (max-width: 1200px) {
            height: calc(200px + (800 - 200) * ((100vw - 320px) / (1200 - 320)));
        }
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
